name: "Terraform Apply"

on:
  push:
    branches:
      - main

env:
  TF_CLOUD_ORGANIZATION: "JTestOrg"
  TF_API_TOKEN: "${{ secrets.TF_API_TOKEN }}"
  TF_WORKSPACE: "pc-learn-terraform"

jobs:
  terraform:
    name: Terraform Apply (Container)
    runs-on: ubuntu-latest

    container:
      image: hashicorp/terraform:1.6.6

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Terraform Init
        env:
          TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}
        run: terraform init

      - name: Terraform Apply
        env:
          TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}
        run: terraform apply -auto-approve

      - name: Write output to JSON
        id: tf
        env:
          TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}
        run: echo "$(terraform output -raw cluster_name)" > terraform-outputs.txt

      - name: Upload outputs artifact
        uses: actions/upload-artifact@v4
        with:
          name: terraform-outputs
          path: terraform-outputs.txt

  deploy:
    name: Setup Deployment Container
    runs-on: ubuntu-latest
    needs: terraform

    container:
      image: ubuntu:22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install AWS CLI
        run: |
          apt-get update
          apt-get install -y curl unzip
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o awscliv2.zip
          unzip awscliv2.zip
          ./aws/install

      - name: Install kubectl
        run: |
          apt-get update && apt-get install -y curl
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          mkdir -p ~/.local/bin
          mv ./kubectl ~/.local/bin/kubectl
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          export PATH="$HOME/.local/bin:$PATH"
          kubectl version --client

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: terraform-outputs

      - name: Read Cluster Name
        run: | 
          CLUSTER=$(cat terraform-outputs.txt)
          echo "CLUSTER=$CLUSTER" >> $GITHUB_ENV
          echo "Here's the $CLUSTER"

      - name: Deploy to EKS Cluster
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws eks --region eu-west-2 update-kubeconfig --name $CLUSTER
          ls -l
          kubectl apply -f ./webapp.yaml
          kubectl apply -f ./webapp-service-aws.yaml

      - name: Write output to JSON
        run: kubectl get svc webapp-service -o jsonpath='{.status.loadBalancer.ingress[0].hostname}' > service-name.txt

      - name: Upload outputs artifact
        uses: actions/upload-artifact@v4
        with:
          name: service-name
          path: service-name.txt